
<style>
  .gold_sponsor_highlight > .collapsible-header {
    background-color: #ffd700;
  }
</style>

{% for d in days %}
<h3> {{ d.name }} </h3>
<ul class="collapsible">
  {% for e in d.events %}
    <li class="{{e.sponsor_highlight}}">
      <div class="collapsible-header {% if e.type != "LECTURE" %} collapsible-disabled {% endif %}">
        {{ e.startTime }} | {{ e.duration }}min | {{e.title}}
        {% if e.lecturer %}
        | {{ e.lecturer }}
          {% if e.coauthor %}
          i {{ e.coauthor }}
          {% endif %}
          {% if e.sponsored %}
          z firmy {{ e.organization }}
          {% endif %}
        {% endif %}
    </div>
    {% if e.type == "LECTURE" %}
    <div class="collapsible-body">
        {% for p in e.abstract %}
        <p> {{ p }} </p>
        {% endfor %}
    </div>
    {% endif %}
    </li>
  {% endfor %}
</ul>
{% endfor %}

<script>

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, options);
  });

  // Or with jQuery

  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
