@page {
  size: 420mm 594mm;
  marks: crop;
  margin: 25mm;
}

html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

p {
  margin: 0
}

.event.highlight_gold .lecturer_and_title {
  background-color: #ffffff60;
  font-weight: 600;
}

.event_table {
  width: 100%;
  border-collapse: collapse;
}

.event_day .day_name {
  font-size: 50px;
  margin: 5mm;
}

.event_day {
  break-inside: avoid;
}

.event {
  font-size: 26px;
  border-bottom: solid white 4mm;
}

.event .hour {
  border-left: 4px solid black;
  width: 30mm;
  padding-left: 2mm;
  vertical-align: top;
  float: left;
  font-weight: 300;
}

.event .lecturer_and_title {
  vertical-align: top;
  width: 100%;
  font-weight: 400;
}

.event .lecturer {
  font-size: 20px;
  font-weight: 400;
}

.plan {
  columns: 2;
  column-fill: auto;
  column-gap: 15mm;
}
