<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../schedule/schedule.css" rel="stylesheet">
    <title>Schedule</title>
    <meta name="description" content="Schedule">
  </head>

  <body>

    <div class="plan">
      {% for d in days %}
      <div class="event_day">
        <div class="day_name">
          {{ d.name }}
        </div>
        <div class="event_table">
        {% for e in d.events %}
          <div class="event {{e.sponsor_highlight}}">
            <div class="hour">
              {{ e.startTime }} {{ e.endTime }}
            </div>
            <div class="lecturer_and_title">
              {{ e.title }}
              {% if e.lecturer %}
                <br/> <span class="lecturer"> {{ e.lecturer }}
                {% if e.coauthor %}
                  i {{ e.coauthor }}
                {% endif %}
                {% if e.sponsored %}
                z firmy <b> {{ e.organization }} </b>
                {% endif %}
                </span>
              {% endif %}
              </em>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>

  </body>
</html>

