<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="book.css" rel="stylesheet" />
    <title>Book</title>
    <meta name="description" content="Book" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="cover_page front_page section">
      <div class="stripe"></div>
      <div class="cover_page__content">
        <div class="front_page__title">Zimowy Obóz Studentów Informatyki A</div>
        <div class="front_page__conference_logo">
          <img class="conference_logo__image" src="../../assets/zosia.png" />
        </div>
        <div class="front_page__date_and_place">
          {{ place.localization }} <br />
          {{ camp_date }}
        </div>
        <div class="organizer_logos">
          <div class="organizer_logo">
            <img
              class="organizer_logo__image"
              src="../../assets/logo_UWr.png"
            />
          </div>
          <div class="organizer_logo">
            <img
              class="organizer_logo__image"
              src="../../assets/logo_KSI.svg"
            />
          </div>
        </div>
      </div>
      <div class="stripe"></div>
    </div>

    <div class="info_page section">
      <div class="contact">
        <span class="contact__title">Kontakt z organizatorami</span>
        <table>
          {% for person, phone in contacts.items() %}
          <tr>
            <td>{{ person }}</td>
            <td>{{ phone }}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>

    <div class="shortened_event_days__wrapper section">
      {% for d in days %} {% if d.events %}
      <div class="shortened_event_day">
        <div class="shortened_event_day__name">{{ d.name }}</div>
        <table class="shortened_event_day__table">
          <tbody>
            {% for e in d.events %}
            <tr
              class="shortened_event{% if e.highlight != 'none' %} highlight_{{ e.highlight }}{% endif %}"
            >
              <td class="shortened_event__time">
                <div class="shortened_event__hour">
                  {{ e.startTime }} {{ e.endTime }}
                </div>
              </td>
              <td class="shortened_event__lecturer_and_title">
                <div class="shortened_event__title">{{ e.title }}</div>
                {% if e.lecturer %}
                <em>
                  {{ e.lecturer }} {% if e.showOrganization %} z firmy
                  <b> {{ e.organization }} </b>
                  {% endif %}
                </em>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %} {% endfor %}
    </div>

    <div class="long_event_days__wrapper section">
      {% for d in days %} {% if d.has_lecture %}
      <div class="long_event_day">
        {% for e in d.events %} {% if e.type == "lecture" %}
        <div
          class="long_event{% if e.highlight != 'none' %} highlight_{{ e.highlight }}{% endif %}"
        >
          <div class="long_event__recommended">Wykład polecany</div>
          <div class="long_event__title">{{ e.title }}</div>
          <div>{{ d.session_name }} {{ e.startTime }} | {{ e.duration }}</div>
          <div class="long_event__lecturer">
            <em>
              {{ e.lecturer }} {% if e.showOrganization %} z firmy
              <b> {{ e.organization }} </b>
              {% endif %}
            </em>
          </div>
          <div class="long_event__body">
            {% for paragraph in e.abstract %}
            <p class="long_event__paragraph">{{ paragraph }}</p>
            {% endfor %}
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
      {% endif %} {% endfor %}
    </div>

    <div class="places__wrapper section">
      <h2 class="places__title">Pobliskie miejsca warte odwiedzenia</h2>

      <div class="attractions">
        {% for a in place.attractions %}
        <div class="locations places">
          <div class="places__row places__name_and_distance">
            <span>{{ a.name }}</span>
            <span>{{ a.distance }} / {{ a.time }}</span>
          </div>
          <div class="places__row places__address">
            <span>{{ a.address }}</span>
          </div>
          <div class="places__row">
            <span> {{a.description}} </span>
          </div>
          {% if a.pricing %}
          <div class="places__row">
            <span> <b>Cennik:</b> {{ a.pricing | join(', ') }} </span>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <div class="restaurants__wrapper">
        <h3 class="places__subtitle">Restauracje</h3>
        <div class="restaurants">
          {% for r in place.restaurants %}
          <div class="locations places">
            <div class="places__row places__name_and_distance">
              <span class="name">{{ r.name }}</span>
              <span class="distance">{{ r.distance }} / {{ r.time }}</span>
            </div>
            <div class="places__row places__address">
              <span class="address">{{ r.address }}</span>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="hiking__wrapper">
        <h3 class="places__subtitle">Piesze wędrówki</h3>
        <table class="hiking">
          <tbody>
            {% for h in place.hiking %}
            <tr class="locations hiking">
              <td class="hiking__name">{{ h.name }}</td>
              <td class="hiking__distance">{{ h.distance }}</td>
              <td class="hiking__time">{{ h.time }}</td>
              <td class="hiking__height">{{ h.height }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {% if place.transport %}
      <div class="transport__wrapper">
        <h3 class="places__subtitle">Transport publiczny</h3>
        <div class="transport">
          <p>{{ place.transport }}</p>
        </div>
      </div>
      {% endif %}
    </div>

    <div class="cover_page last_page section">
      <div class="stripe"></div>
      <div class="cover_page__content sponsors">
        <div class="sponsors__title">Sponsorzy</div>
        <div class="sponsors__row">
          {% for s in sponsors %}
          <div class="sponsor">
            <img
              class="sponsor__image"
              src="{{ s.path_to_logo }}"
              width="100%"
            />
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="stripe"></div>
    </div>
  </body>
</html>
