<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../book/book.css" rel="stylesheet">
    <title>Board ticket</title>
    <meta name="description" content="Board ticket">
  </head>

  <body>
    <div class="title_page">
      <div class="top">
      </div>
      <div class="content">
        <div class="zosia_title">
          Zimowy Obóz Studentów Informatyki A
        </div>
        <div class="zosia_logo"> <img src="../book/zosia.png"> </div>
        <div class="date_and_place">
          Karpacz <br>
          27.02. - 1.03.2020
        </div>
        <div class="logo_wrapper">
          <div class="uwr_logo"> <img src="../book/logo_UWr.svg"> </div>
          <div class="ksi_logo"> <img src="../book/logo_KSI.svg"> </div>
        </div>
      </div>
      <div class="bottom">
      </div>
    </div>

    <div class="info_page">
      <div class="contact">
        <b> Kontakt z organizatorami </b> <br/>
        Ania Szymanek: 784 908 985 <br/>
        Rafał Kaleta: 517 417 554
      </div>
    </div>

    <div class="plan_pages">
      {% for d in days %}
      <div class="event_day">
        <div class="day_name">
          {{ d.name }}
        </div>
        <div class="event_table">
        {% for e in d.events %}
          <div class="event">
            <div class="hour">
              {{ e.startTime }} {{ e.endTime }}
            </div>
            <div class="{% if e.sponsored %} lecturer_and_title_sponsored {% else %} lecturer_and_title {% endif %}">
              <span class="title"> 
              {% if e.sponsored == "silver" or e.sponsored == "gold" %}
                <u> {{ e.title }} </u>
              {% else %}
                {{ e.title }}
              {% endif %}
              </span>
              <br/>
              {% if e.lecturer %}
                <em>
                  {{ e.lecturer }}
                  {% if e.coauthor %}
                    i {{ e.coauthor }}
                  {% endif %}
                  {% if e.sponsored %}
                    z firmy <b> {{ e.organization }} </b>
                  {% endif %}
                </em>
              {% endif %}
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="abstract_pages">
      {% for d in days %}
      <div class="abstract_day">
      {% for e in d.events %}
        {% if e.type == "LECTURE" %}
        <div class="abstract">
          {% if e.sponsored %}
            {% if e.sponsored == "silver" or e.sponsored == "gold" %}
              <div class="recommended"> Wykład polecany </div>
            {% endif %}
            <div class="title_sponsored">
              {% if e.sponsored == "silver" or e.sponsored == "gold" %}
                <u> {{ e.title }} </u>
              {% else %}
                {{ e.title }}
              {% endif %}
            </div>
          {% else %}
          <div class="title">
              {{ e.title }}
          </div>
          {% endif %}
          <div>
            {{ d.name }} {{ e.startTime }} | {{ e.duration }}min
          </div>
          <div class="lecturer">
            <em> 
            {{ e.lecturer }} 
              {% if e.coauthor %}
                i {{ e.coauthor }}
              {% endif %}
            {% if e.sponsored %}
              z firmy <b> {{ e.organization }} </b>
            {% endif %}
            </em>
          </div>
          <div class="body">
            {% for p in e.abstract %}
              <p> {{ p }} </p>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      {% endfor %}
      </div>
      {% endfor %}
    </div>

    <div class="fun_pages">
      <h2> Pobliskie miejsca warte odwiedzenia </h2>
      <h3> Restauracje: </h3>
      <ul>
        <li>
            Manufaktura (4.3/5) $$ - 58m / 1min - Konstytucji 3-ego Maja 57
        </li>
        <li>
            Restauracja u Petiego (4.7/5) $$ - 190m / 3min - Parkowa 10
        </li>
        <li>
            Restauracja KOLOROWA (4.6/5) - 150m / 2min - hotel Kolorowa, Konstytucji 3-go Maja 58
        </li>
        <li>
            Central Bar (4.4/5) $$ - 240m / 3min - Konstytucji 3-ego Maja 49
        </li>
        <li>
            Pierogowo (4.6/5) $ - 230m / 4min - Piastowska 1
        </li>
        <li>
            Oro Cavallo Restauracja-Pizzeria-Noclegi (4.5/5) $$ - 220m / 4min - Konstytucji 3 Maja 67
        </li>
        <li>
            Chata Karkonoska (4.4/5) $$ - 450m / 7min - Wolna 4             
        </li>
      </ul>

      <h3> Atrakcje: </h3>

      <ul>
      <li>
      Karkonoskie Tajemnice (4.5/5) - 60m / 1min - Mickiewicza 1A
      Karkonoskie Tajemnice, to podziemna, multimedialna ekspozycja przedstawiająca legendarny i historyczny świat Karkonoszy oraz ich władcy Ducha Gór, 
      Ulgowy - 17 zł, Normalny - 21 zł
        </li>
        <li>
      Prywatne Muzeum Konsol Gier Video (4.8/5) - 180m / 3min - Mickiewicza 11,
      Muzeum gier - 16zł, Muzeum Lego - 18zł, Oba muzea - 28zł
        </li>
        <li>
      Centrum Karpacza (4.4/5) - 400m / 4m - Konstytucji 3-ego Maja,
      Urocze historyczne centrum miasta, idealne miejsce do spacerów.
        </li>
        <li>
      Zapora na Łomnicy w Karpaczu (4.6/5) - 650m / 10min - Główny Szlak Sudecki, Punkt widokowy
        </li>
        <li>
      Muzeum Zabawek w Karpaczu (4.5/5) - 1.3km / 14min - Kolejowa 3
        </li>
        <li>
      Kościół Wang (4.6/5) - 3km / 50min - Na Śnieżkę 8, 
      Drewniany ewangelicki kościół z 12 wieku, przeniesiony do Karpacza z Norwegii w 1842 roku.
        </li>
        <li>
      Hotel Gołębiewski - aquapark (4.4/5) - 2.5 km / 37 min - Karkonoska 14
        </li>
      </ul>

      <h3> Szczyty: </h3>
      <ul>

        <li>
Śnieżka (4.7/5) - 7.6km / 2h 29min
        </li>
        <li>
Skalny Stół (4.9/5) - 5.8km / 1h 47min
        </li>
        <li>
Saneczkowa Góra (4.3/5) - 1.5km / 22min - Myśliwska 13
        </li>
      </ul>
    </div>

    <div class="blank"> 
    </div>
    <div class="blank"> </div>

    <div class="title_page">
      <div class="top">
      </div>
      <div class="content">
        <div class="sponsor_title"> Sponsorzy </div>
        <div class="fingo_logo"> </div>
        <div class="tsg_logo"> </div>
        <div class="siemens_logo"> </div>
        <div class="qed_logo"> </div>
        <div class="av_logo"> </div>
        <div class="quantup_logo"> </div>
        <div class="ppg_logo"> </div>
      </div>
      <div class="bottom">
      </div>
    </div>
  </body>
</html>

