
@page {
  size: A5;
  marks: crop;
  margin: 15mm;
}

@page cover {
  size: A5;
  marks: crop;
  margin: 0mm;
}


html {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.blank {
  page: blank;
  height: 214mm;
  break-after: always;
  break-before: always;
}

.title_page {
  page: cover;
  margin: -2mm;
  height: 214mm;
  width: 100%;
  align-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  break-after: always;
}

.title_page .top {
  background-color: #16b1fb;
  width: 158mm;
  height: 20mm;
}

.title_page .content {
  min-width: 148mm;
  height: 174mm;
}

.title_page .bottom {
  background-color: #16b1fb;
  width: 158mm;
  height: 20mm;
}

.zosia_title {
  margin: 20mm;
  margin-top: 30mm;
  margin-bottom: 10mm;
  text-align: center;
  font-size: 35px;
}

.zosia_logo {
  margin: 20mm;
  margin-top: 10mm;
  margin-bottom: 5mm;
}

.date_and_place {
  margin: 0mm 20mm;
  text-align: center;
  font-size: 20px;
}

.uwr_logo {
  width: 50mm;
  margin: 10mm;
}

.ksi_logo {
  padding-top: 1mm;
  width: 75mm;
  margin: 10mm;
}

.logo_wrapper {
  margin-top: 20mm;
  margin-left: 7mm;
  width: 140mm;
  display: flex;
  flex-direction: row;
  align-content: stretch;
  align-items: stretch;
}

.contact {
  margin: 2mm;
  margin-top: 150mm;
  border-left: 2px solid black;
  padding-left: 2mm;
  font-weight: 300;
}

.contact b {
  font-weight: 500;
}

.place {
  margin: 2mm;
  border-left: 2px solid black;
  padding-left: 2mm;
}

.event_day {
  break-inside: avoid;
}

.event_table {
  width: 100%;
  display: table;
  border-collapse: collapse;
}

.event_day .day_name {
  font-size: 25px;
  margin: 5mm;
}

.event {
  display: table-row;
  border-bottom: solid white 3mm;
}

.event .hour {
  border-left: 2px solid black;
  width: 20mm;
  padding-left: 2mm;
  display: table-cell;
  vertical-align: top;
  float: left;
  font-weight: 400;
}

.event .lecturer_and_title {
  vertical-align: top;
  display: table-cell;
  width: 100%;
  font-weight: 300;
}

.event .lecturer {
  white-space: nowrap;
}

.plan_pages {
  break-before: always;
  break-after: always;
}

.abstract_pages {
  break-before: always;
  break-after: always;
}

.abstract {
  border-left: 2px solid black;
  break-inside: avoid;
  padding-left: 2mm;
  margin: 4mm 0mm;
}

.abstract .title {
  font-size: 18px;
}

.abstract .lecturer {
  font-size: 16px;
  font-weight: 300;
}

.abstract .time {
  font-size: 18px;
}

.abstract .body {
  font-weight: 300;
  font-size: 14px;
  text-align: justify;
}

.abstract .body p {
  text-indent: 5mm;
  margin: 2mm 0mm;
}

img {
  max-width:100%;
  max-height:100%;
}

.meal_ticket {
  border-style: dashed;
  border-width: 1px 0px;
  border-collapse: collapse;
  height: 15mm;
}

.meal_name {
  line-height: 15mm;
  text-align: center;
}

.sponsor_title {
  margin-top: 13mm;
  font-size: 30px;
  text-align: center;
  font-weight: 300;
}
.fingo_logo {
  background: url(../book/Fingo-logo.svg) no-repeat center center;
  width: 120mm;
  margin: 0 auto;
  padding: 15mm;
}

.ppg_logo {
  width: 60mm;
  margin: 0 auto;
  padding: 10mm;
}

.siemens_logo {
  width: 100mm;
  margin: 0 auto;
  padding: 5mm;
}

